<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Редактирование пользователя</title>
</head>
<body>
<h1>Редактирование пользователя</h1>
<form th:action="@{/admin/user/{id}(id=${user.id})}" method="post" th:object="${user}">
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username" th:field="*{username}" required/>

    <label for="surname">Фамилия:</label>
    <input type="text" id="surname" name="surname" th:field="*{surname}" required/>

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" th:field="*{password}" required/>

    <button type="submit" sec:authorize="hasRole('ADMIN')">Обновить</button>
</form>
<a th:href="@{/admin/user}" sec:authorize="hasRole('ADMIN')">Назад к списку пользователей</a>
<a th:href="@{/logout}">Выйти</a>
</body>
</html>
