<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Создание пользователя</title>
</head>
<body>
<h1>Создание пользователя</h1>
<form th:action="@{/admin/user}" method="post" th:object="${user}">

    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Имя пользователя: ошибка</div>
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username" required th:field="*{username}"/>

    <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Фамилия: ошибка</div>
    <label for="surname">Фамилия:</label>
    <input type="text" id="surname" name="surname" required th:field="*{surname}"/>

    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Пароль: ошибка</div>
    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required th:field="*{password}"/>

    <button type="submit" sec:authorize="hasRole('ADMIN')">Создать</button>

    <label for="role">Роль:</label>
    <select id="role" name="role">
        <option value="ROLE_USER">Пользователь</option>
        <option value="ROLE_ADMIN">Администратор</option>
    </select>
</form>
<a th:href="@{/admin/user}" sec:authorize="hasRole('ADMIN')">Назад к списку пользователей</a>
<a th:href="@{/logout}">Выйти</a>
</body>
</html>





